[package]
name = "redox_event"
version = "0.1.0"
description = "A Rust library to use Redox I/O events"
license = "MIT"
authors = ["Jeremy Soller <jackpot51@gmail.com>"]
repository = "https://gitlab.redox-os.org/redox-os/event"
documentation = "https://docs.rs/redox_event"

[lib]
name = "event"
path = "src/lib.rs"

[dependencies]
redox_syscall = "0.1"
